@import "../../styles/variables";

.mainContainer {
	.title {
		padding: 0.25em 0.75em 0.25em 0;
		width: fit-content;
		font-weight: 300;
		color: $sky;
		border-bottom: 1px solid $sky;
	}
	// form Container
	.formContainer {
		// have an account
		.haveAccount {
			padding-top: 1em;
			.link {
				color: $sky;
			}
		}

		width: 100%;
		max-width: 600px;
		margin: auto;
		// register section
		.registerSection {
			padding-bottom: 0.75em;
			.link {
				color: $sky;
			}
		}
		// inputs container
		.form {
			width: 100%;
			// password container
			.passwordContainer {
				display: flex;
				justify-content: center;
				.inputContainer {
					width: 100%;
					&:first-child {
						padding-right: 0.5em;
					}
					&:last-child {
						padding-left: 0.5em;
					}
				}
			}

			@media (max-width: 430px) {
				.passwordContainer {
					display: block;
					.inputContainer {
						&:first-child {
							padding-right: 0;
						}
						&:last-child {
							padding-left: 0;
						}
					}
				}
			}
			.inputField {
				margin: 0.75em 0;
				width: 100%;
				outline: none;
				border: 1px solid $light;
				border-radius: 0.15rem;
				padding: 0.25em;
				&:focus {
					box-shadow: inset 0px 0px 5px 1px $sky;
					border: 1px solid $sky;
				}
			}
			.submit {
				width: 100%;
				padding: 0.5em;
				margin-top: 1em;
				border: none;
				color: $sky;
				font-weight: 500;
				box-shadow: inset 0px 0px 5px 1px $sky;
				&:hover {
					box-shadow: inset 0px 0px 5px 3px $sky;
				}
			}
		}
	}
}
